.pagination {
            font-size: 80%;
        }
.pagination span,.pagination a{
	font-size: 12px;
}        
.pagination a {
    text-decoration: none;
	/*border: solid 1px #AAE;*/
	color: #15B;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
}

.pagination .current {
    color: #fff;
	/*border: solid 1px #AAE;*/
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}

.pagination .current .page_current_l{
	width:9px;
	height:21px;
	position:relative;
	float:left;
	background:url(images/page_current_l.png) no-repeat;
}

.pagination .current .page_current_r{
	width:9px;
	height:21px;
	float:left;
	position:relative;
	background:url(images/page_current_r.png) no-repeat;
}

.pagination .current .page_current_m{
	height:21px;
	position:relative;
	float:left;
	background:#ffff00;
	color:#FFFFFF;
	background:url(images/page_current_m.png);
}

.pagination .prev div{
	width:36px;
	height:36px;
	background:url(images/page_prev.png) no-repeat top;
}

.pagination .next div{
	width:36px;
	height:36px;
	background:url(images/page_next.png) no-repeat top;
}