/* CSS Document */
.pagination a {
    text-decoration: none;
	color: #15B;
	line-height:1.8em;
}
.pagination a:hover{
	color: #000;
}
.pagination .current {
    color: #fff;
}
.pagination .current .page_current_l{
	width:9px;
	height:21px;
	position:relative;
	float:left;
	background:url(../images/page_current_l.png) no-repeat;
}
.pagination .current .page_current_r{
	width:9px;
	height:21px;
	float:left;
	position:relative;
	background:url(../images/page_current_r.png) no-repeat;
}
.pagination .current .page_current_m{
	width:auto;
	height:21px;
	position:relative;
	float:left;
	background:#ffff00;
	color:#FFFFFF;
	background:url(../images/page_current_m.png);
	line-height:1.8em;
}
.pagination .prev div{
	width:36px;
	height:36px;
	background:url(../images/page_prev.png) no-repeat top;
	cursor: pointer;
}
.pagination .next div{
	width:36px;
	height:36px;
	background:url(../images/page_next.png) no-repeat top;
	cursor: pointer;
}
.pagination .current.prev>div{
	background:url(../images/page_current_prev.png) no-repeat top;
	cursor: default;
}
.pagination .current.next>div{
	background:url(../images/page_current_next.png) no-repeat top;
	cursor: default;
}
.pagination .first div {
	width:36px;
	height:36px;
	background:url(../images/page_first.png) no-repeat 24px 7px;
	cursor: pointer;
}
.pagination .last div {
	width:36px;
	height:36px;
	background:url(../images/page_last.png) no-repeat 1px 6px;
	cursor: pointer;
}
.pagination .current.first>div{
	background:url(../images/page_current_first.png) no-repeat 24px 7px;
	cursor: default;
}
.pagination .current.last>div{
	background:url(../images/page_current_last.png) no-repeat 1px 6px;
	cursor: default;
}