/* CSS Document */
.div_forms{
	border:1px solid #cccccc;
	padding:0px;
}
.forms_default_style{
	border:0px;
	outline:none;
	color:#a0a0a0;
	font-size:12px;
	margin-left:2px;
	float:left;
	position:absolute;
	background:url(0) no-repeat; 
}
.div_text{
	position:absolute;
	color:#a0a0a0;
	font-size:12px;
}